@import 'tailwindcss';

@theme {
    --font-sans: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI',
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';

    /**
    GitHub Corner animation
     */
    --animate-octocat-wave: octocat-wave 560ms ease-in-out;

    @keyframes octocat-wave {
        0%,
        100% {
            transform: rotate(0);
        }

        20%,
        60% {
            transform: rotate(-25deg);
        }

        40%,
        80% {
            transform: rotate(10deg);
        }
    }
}
